---

# These variables apply to all hosts in the autotest_docker group
# as defaults.  To modify variables for a specific host, copy this
# file into the host_vars directory, named as the dns name
# of the host.

autotest:
    # Git repository where autotest should be cloned
    # from.  This can point upstream, to a fork or
    # custom repo.  However, it must provide the version
    # specified by autotest_docker.version shown by
    # running client/shared/version.py
    repo: https://github.com/autotest/autotest.git

    # Path where autotest will be installed.
    path: /usr/local/autotest

autotest_docker:

    # Git repository where autotest_docker should be cloned
    # retrieved from.  This can point upstream, to a fork
    # or custom repo. with additional/modified content.
    repo: https://github.com/autotest/autotest-docker.git

    # Version number or branch name to use. Empty to use
    # repo HEAD.
    version:

    # Many tests rely on a default image for testing. Specify
    # either _all_ components of the fully-qualified-image-name.
    # or no components to use defaults from docker autotest.
    test_image:
        name:
        tag:
        host:
        user:
        # Build this image from url, tagged as above name.
        # Leave empty to pull test image instead.
        build_url:

    # Ultimate timeout in seconds for all subtests to run
    # (in seconds).
    timeout: 14401

    # List of subtests to run, empty to use defaults in repo.
    # (runs _all_ tests).
    include:
      - docker_cli/version
      - docker_cli/dockerhelp


    # List of template arg dictionaries use, empty for none
    # e.g. - dest: "config_custom/tests.ini"
    #        src: "tests.ini.j2"
    templates:

    # If non-empty, a list include files with additional tasks
    # to run before executing docker autotest, but after templates
    # are resolved (above)
    tasks:

    # List of fqins to protect from removal during all tests
    preserve_fqins:

    # List of container names to protect from removal during all tests
    preserve_cnames:

    # Set to false to disable executing autotest on this host
    execute: true

    # Enable or disable checking of bugzilla entries for tests to skip
    enable_bugzilla: false

    # The variables below allow flexibility to dynamicly determine
    # what docker repositories, container names and versions to
    # act upon.  More than likely they do not need to be modified
    # from default values unless you know what you're doing.

    # Command to use for retrieving current Docker Autotest version
    current_version_cmd: atomic/config_value.py DEFAULTS config_version config_defaults/defaults.ini config_custom/defaults.ini

    # Command to use for retrieving required Autotest version
    autotest_version_cmd: atomic/config_value.py DEFAULTS autotest_version config_defaults/defaults.ini config_custom/defaults.ini

    # Command to use for retrieving preserve_fqins value
    preserve_fqins_cmd: atomic/config_value.py DEFAULTS preserve_fqins config_defaults/defaults.ini config_custom/defaults.ini

    # Command to use for retrieving preserve_cnames value
    preserve_cnames_cmd: atomic/config_value.py DEFAULTS preserve_cnames config_defaults/defaults.ini config_custom/defaults.ini
