{% raw %}---

# File format docs:
#   http://docs.openstack.org/developer/os-client-config/

ansible:
    # key by hostname first, uuid only if duplicates
    use_hostnames: True
    # do not fill out additional information about each server
    expand_hostvars: True

clouds:
    {% endraw %}{{ openstack.clouds | to_nice_yaml | indent(indentfirst=False) }}
