# List all hosts known to the environment here (by dns name)
rhel.example.com
rhelah.example.com
centos.example.com
fedora.example.com

# List all hosts on which docker autotest will be installed/executed
[autotest_docker]
rhel.example.com
rhelah.example.com
centos.example.com
fedora.example.com
