---

- name: Convert Results to text-table
  shell: tools/scan_results.py > {{ autotest_dest_dir }}/client/results/default/results.txt
  args:
    chdir: "{{ autotest_dest_dir }}/client"
  # This thing is really easy to break
  ignore_errors: true
  when: docker_autotest.execute and
        autotest_execution is defined and
        autotest_execution|success

- name: Attempt to run alternate results2junit
  shell: "{{ autotest_docker_path }}/results2junit --name {{ inventory_hostname }} > {{ autotest_dest_dir }}/client/results/default/results.junit"
  args:
    chdir: "{{ autotest_dest_dir }}/client"
  register: results2junit
  ignore_errors: true
  when: docker_autotest.execute and
        autotest_execution is defined and
        autotest_execution | success

# Sometimes this breaks if a test fails in the "wrong" way.
- name: Convert Results to junit
  shell: tools/results2junit.py results/default > {{ autotest_dest_dir }}/client/results/default/results.junit
  args:
    chdir: "{{ autotest_dest_dir }}/client"
  register: results2junit
  # This thing is also really easy to break
  ignore_errors: true
  when: docker_autotest.execute and
        autotest_execution is defined and
        autotest_execution | success and
        results2junit | failed
