---

- assert:
    that:
      - 'empty is defined'
      - 'pull_request_description not in empty'

- block:

  - name: Filter pull_request_description of unacceptable characters/formatting
    set_fact:
      result: >
            {{ pull_request_description |
               regex_replace('\s', ' ') |
               regex_replace('[^ a-zA-Z0-9_\-/\[\]=]', '') }}

  - name: Display value of filtered buffer
    debug:
      var: "result"

  - name: Parse --args value out of filtered buffer
    set_fact:
      result: >
            {{ result |
               regex_replace('.*\[--args=(.+)\].*', '\1' ) }}

  - name: Set value of docker_autotest_mmargs from filtered and parsed buffer
    set_fact:
      docker_autotest_mmargs: '{{ result }}'

  when: docker_autotest_mmargs|default() in empty

- name: Display value of parsed buffer
  debug:
    var: "docker_autotest_mmargs"

