---

# Depends:
#   is_atomic
# Registers:
#   rpms_updated: boolean
#   needs_reboot: boolean

- fail:
    msg: "Attempt to apply the atomic_upgrade role onto a non-Atomic host"
  when: not is_atomic

- name: Record upgrade diff check output
  command: atomic host upgrade --check-diff
  register: upgrade_check
  # BZ1313540
  ignore_errors: true

- name: Set _needs_upgrade flag False when indicated by atomic command
  set_fact:
    _needs_upgrade: False
  when: (upgrade_check.rc == 0 or upgrade_check.rc == 77) and
        upgrade_check.stdout | search('No upgrade available.')

- name: Set _needs_upgrade flag True
  set_fact:
    _needs_upgrade: True
  when: _needs_upgrade is undefined

- block:

    - name: Workaround around BZ1290281
      selinux:
        state: permissive

    - name: Atomic host is updated to latest tree
      command: atomic host upgrade
      register: atomic_host_upgrade
      changed_when: atomic_host_upgrade.rc == 0 or
                    atomic_host_upgrade.rc == 77
      ignore_errors: true

    - name: Workaround BZ1313540
      fail:
        msg: "atomic host upgrade failed with unknown error: {{ atomic_host_upgrade }}"
      when: atomic_host_upgrade.rc != 0 and atomic_host_upgrade.rc != 77

    - name: rpms_updated + needs_reboot are set on update
      set_fact:
        rpms_updated: True
        needs_reboot: True
      when: atomic_host_upgrade | changed

  always:

    - name: Workaround around BZ1290281
      selinux:
        policy: targeted
        state: enforcing

  when: _needs_upgrade

- name: rpms_updated + needs_reboot are set false
  set_fact:
        # Leave needs_reboot state as-is, but rpms_updated flag safe to flip
        rpms_updated: False
  when: _needs_upgrade == False
