---

# Depends:
#   is_atomic
# Registers:
#   rpms_updated: boolean
#   needs_reboot: boolean

- fail:
    msg: "Attempt to apply the atomic_upgrade role onto a non-Atomic host"
  when: not is_atomic

- name: Record upgrade diff check output
  command: atomic host upgrade --check-diff
  register: upgrade_check
  # 0 == Upgrade ready, applicable, & available.
  # 77 == No change
  # 1 == Error or no newer upgrade available
  failed_when: upgrade_check.rc not in [0,77] and
               not upgrade_check.stderr | search('older than current revision') and
               not upgrade_check.stdout | search('No upgrade available.')
  changed_when: False

- name: Set _needs_upgrade flag False
  set_fact:
    _needs_upgrade: False

- name: Set _needs_upgrade flag True when indicated by atomic diff
  set_fact:
    _needs_upgrade: True
  when: upgrade_check.rc == 0

- debug: var=upgrade_check

- block:

    - name: Workaround old atomic command bug, fsetxattr/failure w/ /tmp symlink
      # Don't touch /etc/sysconfig/selinux with ansible selinux module
      command: setenforce 0

    - name: Atomic host is updated to latest tree
      command: atomic host upgrade
      register: atomic_host_upgrade
      # Check in assert, changed_when/failed_when based on
      # atomic_host_upgrade's rc key is not reliable.
      # Sometimes the key doesn't exist at time of check.
      ignore_errors: True
      # Depending on networking, this could take a while.
      async: '{{ async_poll_timeout }}'
      poll: 10

    - assert:
        that:
            - 'atomic_host_upgrade.rc is defined'
            - 'atomic_host_upgrade.rc in [0,77]'

  always:

    - name: Undo Workaround of old atomic command bug
      command: setenforce 1

  when: _needs_upgrade

- name: rpms_updated + needs_reboot are set on update
  set_fact:
    rpms_updated: True
    needs_reboot: True
  when: atomic_host_upgrade is defined and
        atomic_host_upgrade | changed

- name: rpms_updated is set false
  set_fact:
        # Leave needs_reboot state as-is, but rpms_updated flag safe to flip
        rpms_updated: False
  when: atomic_host_upgrade is undefined
