---

################################################################
# N/B: This may be running on an old (2.1)  version of ansible #
################################################################

- assert:
    that:
        - 'inventory_hostname == "kommandir"'
        - '"nocloud" not in group_names'
        - 'ansible_ssh_host is defined or ansible_host is defined'

- name: Key variables are displayed
  debug:
    var: "{{ item }}"
  when: adept_debug
  with_items: ["ansible_ssh_host","ansible_host","ansible_ssh_port","ansible_port","ansible_ssh_user","ansible_user","wait_for_timeout"]

- name: kommandir's ssh port is open from perspective of exekutir
  wait_for:
    host: "{{ ansible_ssh_host | default(ansible_host) }}"
    port: "{{ ansible_ssh_port | default(ansible_port | default(22)) }}"
    # Fail quickly == retry sooner
    connect_timeout: 1
    # Minumum is two-DNS failures + one second
    timeout: "{{ wait_for_timeout }}"
    state: "started"
  delegate_to: exekutir
  register: result
  until: result | success
  retries: '{{ wait_for_timeout }}'
  delay: 1

# Any remote module that fails will immediatly cause host to be marked uncreachable
# after zero retries.  Run a local shell command to do the detection, with retries,
# until it's successful.
- name: The command from template referenced by test_command_template is eventually successful
  command: '{{ lookup("template", test_command_template) }}'
  register: result
  delegate_to: exekutir
  until: result | success
  retries: '{{ wait_for_timeout }}'
  delay: 1

- name: Kommandir's facts are gathered
  setup:
    gather_subset: 'network'
